.card-container {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
  
  
  .error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: red;
  
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
  
  @media (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }